Repository celo-org/react-celo: changes, and which Codecov flags are due for each by the changed paths.
All: use-contractkit, walletconnect-v1

codecov.yml:

flags:
  use-contractkit:
    paths:
      - packages/use-contractkit/
  walletconnect-v1:
    paths:
      - packages/walletconnect-v1/
  # When WC-v2 is merged
  # walletconnect:
  #   paths:
  #     - packages/walletconnect/

ci: use codecov gh-action
  .github/workflows/ci.yml
  codecov.yml
Due: none

ci: force codecov to ignore useless files
  .github/workflows/ci.yml
Due: none

test: add ethereum provider tests
  packages/use-contractkit/__tests__/utils/ethereum.test.ts
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/connectors/useMetaMaskConnector.ts
  packages/use-contractkit/src/screens/metamask.tsx
  packages/use-contractkit/src/utils/ethereum.ts
Due: use-contractkit

ci: tweak codecov
  .github/workflows/ci.yml
Due: none

chore: refactor some config files
  jest.config.js
  package.json
  packages/use-contractkit/package.json
  packages/use-contractkit/tsconfig.json
  packages/use-contractkit/tsconfig.spec.json
  packages/walletconnect-v1/package.json
  packages/walletconnect-v1/tsconfig.json
  packages/walletconnect-v1/tsconfig.spec.json
  tsconfig.spec.json
  yarn.lock
Due: use-contractkit, walletconnect-v1

fix: use jest.mock rather than mutating globals
  jest.config.js
  packages/use-contractkit/__tests__/utils/ethereum.test.ts
Due: use-contractkit

fix: remove inexisting file reference
  .eslintrc.js
Due: none

fix: add back .spec.json
  .eslintrc.js
  jest.config.js
  package.json
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/use-contractkit/tsconfig.spec.json
  packages/walletconnect-v1/__tests__/wc-signer.test.ts
  packages/walletconnect-v1/package.json
  packages/walletconnect-v1/tsconfig.spec.json
Due: use-contractkit, walletconnect-v1

fix: clean works if no build dir exist
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/walletconnect-v1/__tests__/wc-signer.test.ts
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

fix: comment NPM publish out
  .github/workflows/ci.yml
Due: none

fix: test
  packages/wallet-walletconnect/src/test/common.ts
  packages/wallet-walletconnect/src/test/in-memory-wallet.ts
  packages/wallet-walletconnect/src/test/mock-client.ts
  packages/wallet-walletconnect/src/wc-wallet.ts
Due: none

Fix: Update publish-packages script
  scripts/publish-packages.ts
Due: none

fix: Update deps and fix walletconnect package mismatching
  .eslintrc.js
  package.json
  packages/example/package.json
  packages/example/pages/wallet.tsx
  packages/use-contractkit/package.json
  packages/walletconnect-v1/__tests__/utils/in-memory-wallet.ts
  packages/walletconnect-v1/package.json
  packages/walletconnect-v1/src/types.ts
  packages/walletconnect-v1/src/wc-signer.ts
  packages/walletconnect-v1/src/wc-wallet.ts
  packages/walletconnect-v1/tsconfig.json
  yarn.lock
Due: use-contractkit, walletconnect-v1

chore: Update package versions, prepare for 2.1.1 release
  package.json
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
  yarn.lock
Due: use-contractkit, walletconnect-v1

Chore: Update dependencies
  .eslintrc.js
  packages/example/package.json
  packages/example/pages/wallet.tsx
  packages/use-contractkit/package.json
  packages/use-contractkit/src/connectors/useWalletConnectConnector.ts
  packages/wallet-walletconnect/package.json
  packages/wallet-walletconnect/scripts/run-in-memory-client.ts
  packages/wallet-walletconnect/src/test/in-memory-wallet.ts
  packages/wallet-walletconnect/src/wc-signer.test.ts
  packages/wallet-walletconnect/src/wc-wallet.ts
  packages/walletconnect-v1/__tests__/utils/in-memory-wallet.ts
  packages/walletconnect-v1/package.json
  packages/walletconnect-v1/src/types.ts
  packages/walletconnect-v1/src/wc-signer.ts
  packages/walletconnect-v1/src/wc-wallet.ts
  packages/walletconnect-v1/tsconfig.json
  yarn.lock
Due: use-contractkit, walletconnect-v1

chore: Update to version 2.1.1
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

Fix bugs in publish script
  scripts/publish-packages.ts
Due: none

Fix WC v2 init blocking issue Use 2.1.2-dev versions throughout packages
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/use-contractkit/src/connectors/useWalletConnectConnector.ts
  packages/use-contractkit/src/utils/useWalletVersion.ts
  packages/wallet-walletconnect/package.json
  packages/wallet-walletconnect/scripts/run-in-memory-client.ts
  packages/wallet-walletconnect/src/constants.ts
  packages/wallet-walletconnect/src/wc-wallet.ts
  packages/walletconnect-v1/package.json
  packages/walletconnect-v1/src/constants.ts
  packages/walletconnect-v1/src/wc-wallet.ts
Due: use-contractkit, walletconnect-v1

fix: add dev command in wallet-walletconnect
  packages/wallet-walletconnect/package.json
Due: none

fix: remove faulty dependency
  packages/walletconnect-v1/package.json
Due: walletconnect-v1

feat: initial metamask improvements
  packages/use-contractkit/package.json
  packages/use-contractkit/src/components/AddCeloNetworkButton.tsx
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/connectors/useMetaMaskConnector.ts
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/contract-kit-reducer.ts
  packages/use-contractkit/src/global.d.ts
  packages/use-contractkit/src/screens/celo-wallet.tsx
  packages/use-contractkit/src/screens/metamask.tsx
  packages/use-contractkit/src/use-contract-kit-methods.ts
  packages/use-contractkit/src/utils/metamask.ts
  yarn.lock
Due: use-contractkit

test: fix test after rebase
  packages/use-contractkit/__tests__/utils/ethereum.test.ts
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/utils/metamask.ts
Due: use-contractkit

fix: eslint in tests
  packages/use-contractkit/__tests__/utils/metamask.test.ts
Due: use-contractkit

tests: add metamask method tests
  packages/use-contractkit/__tests__/utils/metamask.test.ts
  packages/use-contractkit/src/utils/metamask.ts
Due: use-contractkit

feat: infer logo URL
  packages/use-contractkit/src/utils/fetchWCWallets.ts
  packages/walletconnect-v1/__tests__/wc-signer.test.ts
  readme.md
Due: use-contractkit, walletconnect-v1

feat: display available WC connectors from registry
  packages/use-contractkit/src/components/ProviderSelect.tsx
  packages/use-contractkit/src/connectors/connectors-by-name.ts
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/celo-wallet.tsx
  packages/use-contractkit/src/screens/index.ts
  packages/use-contractkit/src/screens/valora.tsx
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/utils/fetchWCWallets.ts
  packages/use-contractkit/src/utils/useFetchWCWallets.ts
  packages/use-contractkit/src/utils/useWalletVersion.ts
Due: use-contractkit

fix: hide desktop-only wallets from the list on mobile
  packages/use-contractkit/src/components/ProviderSelect.tsx
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/walletIcons.tsx
Due: use-contractkit

feat: preload images and backport celowallet logic
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/utils/fetchWCWallets.ts
Due: use-contractkit

fix: lint errors
  packages/use-contractkit/src/utils/fetchWCWallets.ts
  packages/use-contractkit/src/utils/useWalletVersion.ts
Due: use-contractkit

fix: css issue in production build
  packages/use-contractkit/src/components/ProviderSelect.tsx
Due: use-contractkit

feat: read deeplinks from registry
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
Due: use-contractkit

ci: run CI tests every 24hours
  .github/workflows/ci.yml
Due: none

refactor: remove unecessary fetch of dapps.json since the upstream issue is fixed
  packages/use-contractkit/src/utils/fetchWCWallets.ts
Due: use-contractkit

feat: add modal customization options
  packages/example/pages/_app.tsx
  packages/use-contractkit/src/components/ProviderSelect.tsx
  packages/use-contractkit/src/connectors/useWalletConnectConnector.ts
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/utils/useWalletVersion.ts
  readme.md
Due: use-contractkit

feat: default sorts now does this logic: default providers->valora->wc providers
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/utils/sort.ts
Due: use-contractkit

feat: add a fallback in case the registry is unreachable
  packages/use-contractkit/package.json
  packages/use-contractkit/src/utils/fetchWCWallets.ts
  yarn.lock
Due: use-contractkit

Fix: Remove WalletConnect v2 for now
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/connectors/useWalletConnectConnector.ts
  packages/use-contractkit/src/utils/useWalletVersion.ts
  packages/walletconnect-v1/src/wc-wallet.ts
Due: use-contractkit, walletconnect-v1

Feat: Add local option for network
  packages/use-contractkit/src/constants.tsx
Due: use-contractkit

chore: Bump to 3.0.0-beta
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

feat: publish to npm with a tag beta or latest based on the version
  scripts/publish-packages.ts
Due: none
