Repository celo-org/react-celo: changes, and which Codecov flags are due for each by the changed paths.
All: use-contractkit, walletconnect-v1

codecov.yml:

flags:
  use-contractkit:
    paths:
      - packages/use-contractkit/
  walletconnect-v1:
    paths:
      - packages/walletconnect-v1/
  # When WC-v2 is merged
  # walletconnect:
  #   paths:
  #     - packages/walletconnect/

feat: adjust install logic
  packages/use-contractkit/src/components/provider-select.tsx
  packages/use-contractkit/src/components/spinner.tsx
  packages/use-contractkit/src/modals/action.tsx
  packages/use-contractkit/src/screens/cew.tsx
  packages/use-contractkit/src/screens/ledger.tsx
  packages/use-contractkit/src/screens/metamask.tsx
  packages/use-contractkit/src/screens/wallet-connect.tsx
  packages/use-contractkit/src/styles.css
Due: use-contractkit

Balances has BigNumber value and string error
  packages/example/pages/index.tsx
Due: none

Add NodeWallet into Celo use-contractkit
  packages/use-contractkit/src/connectors/connectors-by-name.ts
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/screens/index.ts
  packages/use-contractkit/src/walletIcons.tsx
Due: use-contractkit

docs(readme): fix typo
  readme.md
Due: none

docs(readme): add better development instructions
  readme.md
Due: none

refactor: remove check for window
  packages/example/pages/_app.tsx
Due: none

Add svg icon for celo terminal
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/walletIcons.tsx
Due: use-contractkit

docs(readme): remove v2 of WC from example
  readme.md
Due: none

chore: Add svg icon for celo terminal (#69)
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/walletIcons.tsx
Due: use-contractkit

docs(readme): add wallets to list
  readme.md
Due: none

docs(readme): add supported actions
  readme.md
Due: none

fix: issue labeler error - error was "Unexpected input(s) 'not-before'" which was fixed in version 2.4
  .github/workflows/label.yml
Due: none

fix(docs): original instructions with alternative
  readme.md
Due: none

docs: improve readme (#184)
  .github/workflows/label.yml
  packages/example/pages/_app.tsx
  readme.md
Due: none

fix: remove toggle z-index to not interfere
  packages/example/styles/global.css
Due: none

fix: remove specific actions from wallet
  readme.md
Due: none

review(@aaronmgdr): actually use correct names
  readme.md
Due: none

review(@aaronmgdr): sort wallets alphabetically
  readme.md
Due: none

fix: remove specific actions from wallet (#188)
  readme.md
Due: none

move to target es6
  tsconfig.json
Due: none

Add SVG icon and fix linting errors
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/screens/metamask.tsx
  packages/use-contractkit/src/walletIcons.tsx
Due: use-contractkit

fix typo
  readme.md
Due: none

refactor: move width css to _app
  packages/example/pages/_app.tsx
  packages/example/pages/index.tsx
  packages/example/pages/wallet.tsx
Due: none

Add test for modal
  packages/react-celo/__tests__/react-celo-provider.tsx
Due: none

no message
  package.json
  packages/react-celo/__tests__/connectors/metamask.test.ts
  packages/react-celo/__tests__/react-celo-provider.tsx
  packages/react-celo/src/connectors/connectors.ts
  yarn.lock
Due: none

Add basic level testing for private-key and wallet connect connectors.
  packages/react-celo/__tests__/connectors/ledger.test.ts
  packages/react-celo/__tests__/connectors/metamask.test.ts
  packages/react-celo/__tests__/connectors/private-key.test.ts
  packages/react-celo/__tests__/connectors/walletconnect.test.ts
Due: none

If the network is not set here than initialise call will just re establish connection to metamask with this.network (probably the one it was constructed with)
  packages/react-celo/src/connectors/connectors.ts
Due: none

fix: adjust styles for mobile and specifically for ios safari
  packages/example/pages/index.tsx
  packages/react-celo/package.json
  packages/react-celo/src/components/connector-screen.tsx
  packages/react-celo/src/components/ios-viewport-fix.tsx
  packages/react-celo/src/components/modal-container.tsx
  packages/react-celo/src/components/tray.tsx
  packages/react-celo/src/constants.tsx
  packages/react-celo/src/modals/action.tsx
  packages/react-celo/src/react-celo-provider.tsx
  packages/react-celo/src/screens/metamask.tsx
  packages/react-celo/src/styles.css
  yarn.lock
Due: none

fix: adjust styles for mobile and specifically for ios safari (#192)
  packages/example/pages/index.tsx
  packages/react-celo/package.json
  packages/react-celo/src/components/connector-screen.tsx
  packages/react-celo/src/components/ios-viewport-fix.tsx
  packages/react-celo/src/components/modal-container.tsx
  packages/react-celo/src/components/tray.tsx
  packages/react-celo/src/constants.tsx
  packages/react-celo/src/modals/action.tsx
  packages/react-celo/src/react-celo-provider.tsx
  packages/react-celo/src/screens/metamask.tsx
  packages/react-celo/src/styles.css
  yarn.lock
Due: none

codeReview from @dckesler
  packages/react-celo/__tests__/connectors/metamask.test.ts
  packages/react-celo/__tests__/react-celo-provider.tsx
Due: none

walletIcons error fix - change xmlns:xlink and remove style
  packages/use-contractkit/src/walletIcons.tsx
Due: use-contractkit

feat: add test plan with 2 tests
  packages/example/components/test-plan/connect-wallet.tsx
  packages/example/components/test-plan/error-icon.tsx
  packages/example/components/test-plan/success-icon.tsx
  packages/example/components/test-plan/switch-networks.tsx
  packages/example/components/test-plan/ui.tsx
  packages/example/components/test-plan/useTestStatus.tsx
  packages/example/pages/wallet-test-plan.tsx
  packages/example/styles/global.css
Due: none

fix: stop hydration error with network names
  packages/example/components/test-plan/switch-networks.tsx
Due: none

feat: initial theming
  packages/example/components/buttons.tsx
  packages/example/components/theme-button.tsx
  packages/example/pages/index.tsx
  packages/example/styles/global.css
  packages/react-celo/src/components/button.tsx
  packages/react-celo/src/components/connector-screen.tsx
  packages/react-celo/src/components/copy.tsx
  packages/react-celo/src/components/index.ts
  packages/react-celo/src/components/modal-container.tsx
  packages/react-celo/src/components/provider-select.tsx
  packages/react-celo/src/components/qrcode.tsx
  packages/react-celo/src/components/spinner.tsx
  packages/react-celo/src/components/tray.tsx
  packages/react-celo/src/constants.tsx
  packages/react-celo/src/modals/action.tsx
  packages/react-celo/src/modals/connect.tsx
  packages/react-celo/src/react-celo-provider.tsx
  packages/react-celo/src/react-celo-reducer.ts
  packages/react-celo/src/screens/cew.tsx
  packages/react-celo/src/screens/ledger.tsx
  packages/react-celo/src/screens/metamask.tsx
  packages/react-celo/src/screens/placeholder.tsx
  packages/react-celo/src/screens/private-key.tsx
  packages/react-celo/src/screens/wallet-connect.tsx
  packages/react-celo/src/theme/default.ts
  packages/react-celo/src/types.ts
  packages/react-celo/src/use-celo-methods.ts
  packages/react-celo/src/use-celo.tsx
  packages/react-celo/src/utils/helpers.ts
  packages/react-celo/src/utils/useTheme.ts
  packages/react-celo/src/walletIcons.tsx
  packages/walletconnect-v1/src/wc-wallet.ts
  readme.md
Due: walletconnect-v1

chore: codereview
  packages/react-celo/src/components/button.tsx
  packages/react-celo/src/screens/ledger.tsx
  packages/react-celo/src/screens/metamask.tsx
  packages/react-celo/src/screens/private-key.tsx
  packages/react-celo/src/utils/useTheme.ts
Due: none

test: add updateTheme tests
  packages/react-celo/__tests__/react-celo-provider.tsx
  packages/react-celo/__tests__/utils/react-celo-reducer.test.ts
  packages/react-celo/src/use-celo.tsx
  packages/react-celo/src/utils/useTheme.ts
Due: none

Add Aliases for old function names so its not a pain to upgrade to v4
  packages/react-celo/src/react-celo-provider.tsx
  packages/react-celo/src/use-celo.tsx
Due: none

Feat/theming (#198)
  packages/example/components/buttons.tsx
  packages/example/components/theme-button.tsx
  packages/example/pages/index.tsx
  packages/example/styles/global.css
  packages/react-celo/__tests__/react-celo-provider.tsx
  packages/react-celo/__tests__/utils/react-celo-reducer.test.ts
  packages/react-celo/src/components/button.tsx
  packages/react-celo/src/components/connector-screen.tsx
  packages/react-celo/src/components/copy.tsx
  packages/react-celo/src/components/index.ts
  packages/react-celo/src/components/modal-container.tsx
  packages/react-celo/src/components/provider-select.tsx
  packages/react-celo/src/components/qrcode.tsx
  packages/react-celo/src/components/spinner.tsx
  packages/react-celo/src/components/tray.tsx
  packages/react-celo/src/constants.tsx
  packages/react-celo/src/modals/action.tsx
  packages/react-celo/src/modals/connect.tsx
  packages/react-celo/src/react-celo-provider.tsx
  packages/react-celo/src/react-celo-reducer.ts
  packages/react-celo/src/screens/cew.tsx
  packages/react-celo/src/screens/ledger.tsx
  packages/react-celo/src/screens/metamask.tsx
  packages/react-celo/src/screens/placeholder.tsx
  packages/react-celo/src/screens/private-key.tsx
  packages/react-celo/src/screens/wallet-connect.tsx
  packages/react-celo/src/theme/default.ts
  packages/react-celo/src/types.ts
  packages/react-celo/src/use-celo-methods.ts
  packages/react-celo/src/use-celo.tsx
  packages/react-celo/src/utils/helpers.ts
  packages/react-celo/src/utils/useTheme.ts
  packages/react-celo/src/walletIcons.tsx
  packages/walletconnect-v1/src/wc-wallet.ts
  readme.md
Due: walletconnect-v1
