Repository celo-org/react-celo: changes, and which Codecov flags are due for each by the changed paths.
All: use-contractkit, walletconnect-v1

feat: add modal customization options
  packages/example/pages/_app.tsx
  packages/use-contractkit/src/components/ProviderSelect.tsx
  packages/use-contractkit/src/connectors/useWalletConnectConnector.ts
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/utils/useWalletVersion.ts
  readme.md
Due: use-contractkit

feat: default sorts now does this logic: default providers->valora->wc providers
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/utils/sort.ts
Due: use-contractkit

feat: add modal customization options
  packages/example/pages/_app.tsx
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/utils/sort.ts
  readme.md
Due: use-contractkit

feat: add modal customization options (#153)
  packages/example/pages/_app.tsx
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/utils/sort.ts
  readme.md
Due: use-contractkit

upgrade to version 2 of contractkit
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  yarn.lock
Due: use-contractkit

Fix: Removing missed logs
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
Due: use-contractkit

added search bar
  packages/use-contractkit/src/modals/connect.tsx
Due: use-contractkit

added search bar and optimization
  packages/use-contractkit/src/modals/connect.tsx
Due: use-contractkit

canary
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

2.0
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
Due: use-contractkit

chore: Label all issues in repo as Applications so they show in zenhub
  .github/labeler.yml
  .github/workflows/label.yml
Due: none

chore: lock the yarn
  yarn.lock
Due: none

mention 2.0 on readme
  readme.md
Due: none

fix packages
  packages/example/package.json
  packages/use-contractkit/package.json
  yarn.lock
Due: use-contractkit

dev not canary
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

fix: Resolve useCallback dependency issue
  packages/use-contractkit/src/use-contract-kit-methods.ts
Due: use-contractkit

3.1.0
  packages/example/package.json
  packages/use-contractkit/package.json
Due: use-contractkit

next version
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

FEAT: Allow developers to pass in any networks they wish
  packages/example/pages/_app.tsx
  packages/example/pages/index.tsx
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/use-contractkit.tsx
  packages/use-contractkit/src/utils/helpers.ts
  packages/use-contractkit/src/utils/metamask.ts
  readme.md
Due: use-contractkit

fix: update Fee Currency should only be an option for Connectors / wallets that support alternative gas fee currencies
  packages/example/pages/_app.tsx
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/use-contract-kit-methods.ts
  readme.md
Due: use-contractkit

lint extra imports
  packages/use-contractkit/src/use-contract-kit-methods.ts
Due: use-contractkit

expose supportsFeeCurrency so devs can use to display conditional fee currency setting ops + demo it in our example app
  packages/example/pages/index.tsx
  packages/use-contractkit/src/use-contractkit.tsx
Due: use-contractkit

make it clear why we are returning false
  packages/use-contractkit/src/connectors/connectors.ts
Due: use-contractkit

conflict
  packages/example/pages/wallet.tsx
  packages/use-contractkit/__tests__/utils/metamask.test.ts
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/contract-kit-provider.tsx
  packages/use-contractkit/src/contract-kit-reducer.ts
  packages/use-contractkit/src/ethers.ts
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/use-contract-kit-methods.ts
  packages/use-contractkit/src/use-contractkit.tsx
  packages/use-contractkit/src/utils/helpers.ts
  packages/use-contractkit/src/utils/metamask.ts
  packages/wallet-walletconnect/scripts/run-in-memory-client.ts
  packages/wallet-walletconnect/src/test/common.ts
  packages/wallet-walletconnect/src/test/in-memory-wallet.ts
  packages/walletconnect-v1/__tests__/utils/common.ts
  packages/walletconnect-v1/__tests__/utils/in-memory-wallet.ts
Due: use-contractkit, walletconnect-v1

Append current browser location in Metamask mobile
  packages/use-contractkit/src/constants.tsx
Due: use-contractkit

made some changes
  packages/use-contractkit/src/modals/connect.tsx
Due: use-contractkit

replacing use of contractkit with minicontractkit
  packages/example/pages/index.tsx
  packages/example/pages/wallet.tsx
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/utils/metamask.ts
Due: use-contractkit

Missing Import
  packages/example/pages/wallet.tsx
Due: none

Add optional contractCache builder and memoization
  contract-cache-recipes.md
  packages/use-contractkit/src/ContractCacheBuilder.tsx
  packages/use-contractkit/src/contract-kit-provider.tsx
  packages/use-contractkit/src/use-contract-kit-methods.ts
  packages/use-contractkit/src/use-contractkit.tsx
Due: use-contractkit

Catch token not registered error, display balances
  packages/example/pages/index.tsx
Due: none

Fix empty block
  packages/example/pages/index.tsx
Due: none

Change value to be type string
  packages/example/pages/index.tsx
Due: none

Log error
  packages/example/pages/index.tsx
Due: none

upgrade to react 18 add testing utils start testing of Provider and hook
  package.json
  packages/example/package.json
  packages/use-contractkit/__tests__/contract-kit-provider.test.tsx
  packages/use-contractkit/package.json
  packages/use-contractkit/src/contract-kit-provider.tsx
  yarn.lock
Due: use-contractkit

upgrade jest and friends
  package.json
  packages/use-contractkit/__tests__/contract-kit-provider.test.tsx
  packages/use-contractkit/jest.config.js
  packages/use-contractkit/package.json
  yarn.lock
Due: use-contractkit

chore: remove unused unstated-next
  packages/use-contractkit/package.json
  packages/use-contractkit/src/utils/useProviders.ts
  readme.md
  yarn.lock
Due: use-contractkit

chore: review feedback
  packages/example/pages/_app.tsx
  packages/use-contractkit/src/screens/wallet-connect.tsx
  packages/use-contractkit/src/themes/default.ts
  packages/use-contractkit/src/utils/tailwind.tsx
Due: use-contractkit

fix: bad merge + pr review
  packages/use-contractkit/src/components/modal-container.tsx
  packages/use-contractkit/src/components/provider-select.tsx
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/modals/action.tsx
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/modals/styles.ts
  packages/use-contractkit/src/styles.css
Due: use-contractkit

perf: search
  packages/use-contractkit/src/utils/ethereum.ts
  packages/use-contractkit/src/utils/useProviders.ts
  packages/use-contractkit/src/utils/useWalletVersion.ts
Due: use-contractkit

Path conditions:
  use-contractkit: any of: packages/use-contractkit/
  walletconnect-v1: any of: packages/walletconnect-v1/
