Repository celo-org/react-celo: changes, and which Codecov flags are due for each by the changed paths.
All: use-contractkit, walletconnect-v1

codecov.yml:

flags:
  use-contractkit:
    paths:
      - packages/use-contractkit/
  walletconnect-v1:
    paths:
      - packages/walletconnect-v1/
  # When WC-v2 is merged
  # walletconnect:
  #   paths:
  #     - packages/walletconnect/

Upgrade most deps and fix issues from upgrades
  package.json
  packages/example/next-env.d.ts
  packages/example/next.config.js
  packages/example/package.json
  packages/example/tailwind.config.js
  packages/example/tsconfig.json
  packages/use-contractkit/package.json
  packages/use-contractkit/src/modals/action.tsx
  packages/use-contractkit/src/screens/celo-dance.tsx
  packages/use-contractkit/src/screens/celo-wallet.tsx
  packages/use-contractkit/src/screens/cew.tsx
  packages/use-contractkit/src/screens/ledger.tsx
  packages/use-contractkit/src/screens/metamask.tsx
  packages/use-contractkit/src/screens/valora.tsx
  packages/use-contractkit/src/screens/wallet-connect.tsx
  packages/use-contractkit/tailwind.config.js
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
  packages/walletconnect-v1/tsconfig.json
  yarn.lock
Due: use-contractkit, walletconnect-v1

Fix lint issues
  .eslintrc.js
  packages/use-contractkit/src/modals/action.tsx
  packages/use-contractkit/src/screens/celo-dance.tsx
  packages/use-contractkit/src/screens/celo-wallet.tsx
  packages/use-contractkit/src/screens/cew.tsx
  packages/use-contractkit/src/screens/ledger.tsx
  packages/use-contractkit/src/screens/metamask.tsx
  packages/use-contractkit/src/screens/valora.tsx
  packages/use-contractkit/src/screens/wallet-connect.tsx
  packages/use-contractkit/src/utils/useWalletVersion.ts
  packages/wallet-walletconnect/src/test/in-memory-wallet.ts
  packages/wallet-walletconnect/src/test/mock-client.ts
  packages/wallet-walletconnect/src/wc-signer.test.ts
  packages/wallet-walletconnect/src/wc-wallet.ts
Due: use-contractkit

fix: add a gasPrice to the example transfer
  packages/example/pages/index.tsx
Due: none

feat: move @celo/contractkit from dependencies to peerDeps
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/wallet-walletconnect/src/test/common.ts
  readme.md
  yarn.lock
Due: use-contractkit

fix: add README.md to npm and fix the example URL
  packages/use-contractkit/.gitignore
  packages/use-contractkit/package.json
Due: use-contractkit

chore: bumps to 2.1.3
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

fix: remove the mainnet restriction
  packages/use-contractkit/src/connectors/useWalletConnectConnector.ts
Due: use-contractkit

chore: bumps to 2.1.4
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

chore: bumps to 3.0.0-beta2
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
Due: use-contractkit, walletconnect-v1

Tell People to use Github Discussions for Support
  readme.md
Due: none

dynamically show cStable balances based on what cStables contract kit supports. rather than having to add them in by hand. de dup interface declarations
  packages/example/pages/index.tsx
  packages/use-contractkit/src/connectors/useMetaMaskConnector.ts
  packages/use-contractkit/src/utils/metamask.ts
Due: use-contractkit

prevent updateFeeCurrency from running if nothing is passed in. dont allow setting a fee currency on metamask clarify in readme that fee currency has limited support
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/connectors/useMetaMaskConnector.ts
  readme.md
Due: use-contractkit

use precise type
  packages/example/pages/index.tsx
Due: none

fixes #108 When in mobile context and connected to a wallet that uses deeplinks auto switch to that wallet app.
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/use-contract-kit-methods.ts
Due: use-contractkit

Everywhere else we are importing celo/utils specific folders and functions. Thought it would be good to be consistent.
  packages/wallet-walletconnect/src/utils/parse-addresses.ts
  packages/walletconnect-v1/src/utils/parse-addresses.ts
Due: walletconnect-v1

Add A clickable link for situations where the mobile web browser wont open deeplinks.
  packages/use-contractkit/src/screens/valora.tsx
Due: use-contractkit

fix: More explicit storage of feeCurrency field
  packages/example/pages/index.tsx
  packages/use-contractkit/src/connectors/connectors.ts
  packages/use-contractkit/src/connectors/useWalletConnectConnector.ts
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/contract-kit-provider.tsx
  packages/use-contractkit/src/contract-kit-reducer.ts
  packages/use-contractkit/src/use-contract-kit-methods.ts
  packages/use-contractkit/src/use-contractkit.tsx
  packages/use-contractkit/src/utils/helpers.ts
Due: use-contractkit

chore: Move to 3.0.0
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
  yarn.lock
Due: use-contractkit, walletconnect-v1

chore: Move to 3.0.1-dev
  packages/example/package.json
  packages/use-contractkit/package.json
  packages/wallet-walletconnect/package.json
  packages/walletconnect-v1/package.json
  scripts/publish-packages.ts
Due: use-contractkit, walletconnect-v1

Fix bug where passing in custom rpc url got reset when loading from previous config
  packages/use-contractkit/src/contract-kit-provider.tsx
  packages/use-contractkit/src/utils/helpers.ts
Due: use-contractkit

chore: add prerelease checks to the deploy script
  scripts/publish-packages.ts
Due: none

docs: typo fixes
  readme.md
Due: none

docs: include javascript type to code snippet
  readme.md
Due: none

docs: add NetworkNames to import in example
  readme.md
Due: none

Fixes #130 - connect to dapp with metamask mobile app
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/utils/metamask.ts
Due: use-contractkit

chore: make it easier to run dev mode
  package.json
Due: none

PR review (@crondinini)
  package.json
  readme.md
Due: none

feat: infer logo URL
  packages/use-contractkit/src/utils/fetchWCWallets.ts
  packages/walletconnect-v1/__tests__/wc-signer.test.ts
  readme.md
Due: use-contractkit, walletconnect-v1

feat: display available WC connectors from registry
  packages/use-contractkit/src/components/ProviderSelect.tsx
  packages/use-contractkit/src/connectors/connectors-by-name.ts
  packages/use-contractkit/src/constants.tsx
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/celo-dance.tsx
  packages/use-contractkit/src/screens/celo-wallet.tsx
  packages/use-contractkit/src/screens/index.ts
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/utils/fetchWCWallets.ts
  packages/use-contractkit/src/utils/useFetchWCWallets.ts
Due: use-contractkit

fix: lint errors
  packages/use-contractkit/src/utils/fetchWCWallets.ts
  packages/use-contractkit/src/utils/useWalletVersion.ts
Due: use-contractkit

fix: css issue in production build
  packages/use-contractkit/src/components/ProviderSelect.tsx
Due: use-contractkit

ci: run CI tests every 24hours
  .github/workflows/ci.yml
Due: none

feat: read deeplinks from registry
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
Due: use-contractkit

feat: preload images and backport celowallet logic
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/screens/wallet-connect-custom.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/utils/fetchWCWallets.ts
Due: use-contractkit

fix: hide desktop-only wallets from the list on mobile
  packages/use-contractkit/src/components/ProviderSelect.tsx
  packages/use-contractkit/src/modals/connect.tsx
  packages/use-contractkit/src/types.ts
  packages/use-contractkit/src/walletIcons.tsx
Due: use-contractkit

refactor: remove unecessary fetch of dapps.json since the upstream issue is fixed
  packages/use-contractkit/src/utils/fetchWCWallets.ts
Due: use-contractkit

feat: add a fallback in case the registry is unreachable
  packages/use-contractkit/package.json
  packages/use-contractkit/src/utils/fetchWCWallets.ts
  yarn.lock
Due: use-contractkit
